body{
	text-align: left;
}

p{
	color: #ff0000;
	background-color: cornsilk;
	text-indent: 30px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

h1{
	font-weight: bold;
	font-size: xx-large;
	color: darkgray;
}

h2{
	font-size: x-large;
	color: gray;
	background-color: beige;
}

h3{
	font-weight: bold;
	color: gray;
}


a:link { color: blue;}
a:visited { color: blue;}
a:active { color: blue;}
a:hover { color: red;}

dl.rireki { color: white; background-color: #044; }
dl.license { color: white; background-color: #404; }
