body{
	text-align: center;
}

h1{
	font-weight: bold;
	font-size: large;
	color: crimson;
	text-align: justify;
}

h2{
	color: teal;
	font-size: large;
	text-align: justify;
}

h3{
	text-align: justify;
	font-weight: bold;
	color: mediumvioletred;
	text-align: justify;
}


a:link { color: blue;}
a:visited { color: blue;}
a:active { color: blue;}
a:hover { color: red;}

